{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
        {% for item in object_list %}
            <div class="card mb-3">
                <h5 class="card-header">
                    Категория: <a href="{{ item.get_absolute_url }}">{{ item.category }}</a>
                </h5>
                <div class="card-body">
                    <div class="media">
                        {% if item.photo %}
                            <img src="{{ item.photo.url }}" alt="" width="350" class="mr-3">
                        {% else %}
                            <img src="https://i.simpalsmedia.com/point.md/news/thumbnails/large/12acf4db8a560f7eacb17e2ddecc522f.jpg"
                                 alt="" width="350" class="mr-3">
                        {% endif %}
                        <div class="media-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.content|safe|linebreaks|truncatewords:50 }}</p>
                            <a href="{% url 'view_news' item.pk %}" class="btn btn-primary">Read more...</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{ item.created_at|date:"Y-m-d H:i:s" }}
                </div>
            </div>
        {% endfor %}
{% endblock %}